.contact-container {
    display: flex; /* Menggunakan Flexbox */
    align-items: center; /* Pusatkan vertikal */
  }
  
  .image-container {
    margin-right: 20px; /* Jarak antara gambar dan teks */
  }
  
  .text-container {
    flex: 1; /* Bagian teks mengambil ruang tersisa */
  }
  